* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 960px;
  padding-top: 30px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 30px 0; 
}

.login-form {
  width: 300px;
  margin: 0 auto;
}