@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

:root {
  --main-color: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #141c2f; */
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  color: var(--main-color);
  margin: 0 auto !important; 
  background-color: #141c2f !important;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 960px;
  padding-top: 30px;
  margin: 0 auto;
}

.App {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 30px 0; 
}

.login-form {
  width: 300px;
  margin: 0 auto;
}



